{% extends "layout.html" %}

{% block title %}
Idea Finder
{% endblock %}

{% block main %}
<script>
    async function vote(decision) {
        const id = {{ idea["id"] }};
    const data = {
        vote: decision,
        id: id
    };
    const response = await fetch("/vote", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            "Content-Type": "application/json",
        },
    });
    window.location.href = "/vote";
    }
</script>
<div class="container position-relative">
    <div class="card translate-middle-x start-50" style="width: 18rem;">
        <div class="card-body">
            <img src="/static/light-bulb.png" class="img-fluid mb-3" width="75" alt="a lit lightbulb">
            <h5 class="card-title mb-3">{{ idea["text"] }}</h5>
            <hr>
                <button class="btn btn-success mx-2 btn-3" onclick="vote(1)">yes</button>
                <button class="btn btn-danger mx-2 btn-3" onclick="vote(0)">no</button>
            <p class="card-text pt-3 text-muted">{{ remaining }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container text-center">
    <a href="https://www.flaticon.com/free-icons/idea" class="text-muted" title="idea icons">Idea icons created by
        Freepik - Flaticon</a>
</div>
{% endblock %}